body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 5rem !important;
}

h1 {
  letter-spacing: .15em;
  margin-top: 3rem !important;
  margin-bottom: 0.1em;
}

.type {
  text-decoration: underline;
  animation:
    blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { visibility: visible; }
  50% { visibility: hidden; }
}

a {
  color: inherit;
  text-decoration-line: underline;
  margin-left: 1rem;
  margin-right: 1rem;
}

.static {
  text-align: center;
}

.header {
  font-style: large;
}

.section-head {
  margin-top: 4rem;
}

.header {
  animation: head;
  animation-duration: 1s;
}

@keyframes head {
  from {opacity: 0;}
  to {opacity: 1;}
}
